* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: #293264;
}

.main-page {
  box-sizing: border-box;
  position: relative;
  width: 550px;
  height: 550px;
  overflow: hidden;
  margin: 15px auto;
}

.blobs {
  position: absolute;
  overflow: visible;
  /* width: 297px;
  height: 235px; */
}
